$darkgrey: #3a3a3a;
$light: #F5F5F5;
$blue: #48D1CC;
$gray: #252525;
$lightgray: #464646;
$purple: #6b4395;
$yellow: #EFA743;
$red: #ba3105;
$title: 'Josefin Sans', sans-serif;
$text: 'Montserrat', sans-serif;
