$darkgrey: #3a3a3a;
$light: #ccc;
$blue: #48D1CC;
$gray: #252525;
$lightgray: #464646;
$purple: #6b4395;
$yellow: #EFA743;
$blue: #1e5799;
$title: 'Josefin Sans', sans-serif;
$text: 'Montserrat', sans-serif;
